.carousel {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/slider-bg.jpg');
    background-position: center;
    object-fit: cover;
    position: relative;

    .carousel_container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 75px 0;
        background-image: linear-gradient(90deg, #050504e2, #0000005e);
    }
}