@import '../variables.scss';
@import '../mixins.scss';

#menu_icon {
    @include transition_text;
    display: none;
    background-color: transparent;
    border: none;
    font-size: 2.3em;
}

.menu_modal {
    display: block;
    color: $text-light-color;
    background-color: #000000a1;

    .modal-dialog {
        margin: 0 auto;
        width: 80%
    }

    .modal-content {
        @extend .menu_modal;
        background-color: $main-color-dark;
    }

    .modal-header {
        justify-content: end;
        border-bottom: none;
        padding: 0 2em;

        
    }

    .modal-body {
        text-align: end;
        padding: 0 1em;

        button {
            background-color: transparent;
            border: none;
            z-index: 99;
            position: relative;

            span {
                @include transition_text;
                display: inline-block;
                font-size: 4em;
                height: 20px;
            }
        }
        
        .navbar_menu {
            justify-content: center;
            margin-top: -65px;

            li {
                text-align: center;

                a {
                    @include transition_text;
                }
            }
        }
    }
}