@import '../variables.scss';
@import '../mixins.scss';

#menu_icon {
  @include transition_text;
  display: none;
  background-color: transparent;
  border: none;
  font-size: 2.3em;
}

#menu_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000b9;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu_container {
    background-color: $main-color-dark;
    padding: 1em 2em;
    text-align: center;
    border-radius: 20px;

    svg {
        font-size: 1.7em;
    }

    * {
      color: $text-light-color !important;
    }

    ul {
        text-align: center;
    }
  }
}
