@media (width < 750px) {

    .full_screen {
        height: 85vh;
    }

    #menu_icon {
        display: block;
    }

    .navbar_top > ul,
     .navbar_bottom {
        display: none;
    }

    .service_card {
        padding: 1em 2em !important;
    }
}