$bg-color: #f5f5f5;
$card-bg-color: #f3f3f3;
$main-color: #196378;
$main-color-dark: #155263;
$secondary-color: #FF6F3C;
$text-light-color: #fff;
$icon-color: #1c1c1c;
$main-font: 'Poppins', 'Roboto', 'Open Sans', sans-serif;
$border-radious: 5px;